@font-face {
  font-family: "Tanker-Regular";
  src: url("../assets/fonts/Tanker-Regular.ttf") format("truetype");
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
}

#app h1 {
  font-family: "Tanker-Regular";
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: center; /* Center the text */
  color: #4e554a;
}
