@font-face {
  font-family: "Chillax-Variable";
  src: url("../assets/fonts/Chillax-Variable.ttf") format("truetype");
}

menu {
  margin-inline-end: 40px;
}

#filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 90vw;
  flex-wrap: wrap;
  opacity: 0;
  animation: fade-in 2s forwards; /* Add forwards to retain the final state */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.filter-item {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ac8670;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Chillax-Variable";
  user-select: none;
}

menu li {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ac8670;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Chillax-Variable";
  user-select: none;
}

.selected {
  font-style: bold;
  border: 1px solid #61624a;
}

li:hover {
  cursor: pointer;
}

li svg {
  margin-left: 5px;
}

#sortBy {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ac8670;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Chillax-Variable";
  user-select: none;
}